<div class="mb-5 home">
    <div class="row">
        <div class="col-xl-3 col-lg-6 mb-3 bg-transparent">
            <a routerLink="../element">
                <div class="cardHome style_prevu_kit">
                    <div class="d-flex justify-content-end pr-4 carta-in">
                        <span style="line-height: 100px;" class="mr-4 titulo-caja">
                            Elementos
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-3 bg-transparent">
            <a routerLink="../process">
                <div class="cardHome style_prevu_kit">
                    <div class="d-flex justify-content-end pr-4">
                        <span style="line-height: 100px;" class="mr-4 titulo-caja">
                            Procesos
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="col-xl-3 col-lg-6 mb-3 bg-transparent">

            <div class="cardHome style_prevu_kit">
                <div class="d-flex justify-content-end pr-4">
                    <span style="line-height: 100px;" class="mr-4 titulo-caja">
                        Abrir grafo
                    </span>

                </div>
            </div>

        </div> -->
    </div>
</div>