<div class="mt-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item active"><a routerLink="/process">Proceso</a></li>
      <li class="breadcrumb-item active"><a routerLink="/process/details">Elementos del proceso</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear relación</li>
    </ol>
  </nav>
  <div style="display: flex; ">
    <h3 style="margin-left: 28px; margin-top: 8px;" class="sub-title"> Crear relación </h3>
  </div>
</div>


<body>
  <form [formGroup]="FormRelation" novalidate>
    <div class="row information">

      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Elemento de origen</mat-label>
          <mat-select formControlName="element_source" (selectionChange)="filterElement($event.value)">
            <mat-option [value]="element" *ngFor="let element of elements">
              {{ element.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Elemento de destino</mat-label>
          <mat-select formControlName="element_target">
            <mat-option [value]="element" *ngFor="let element of elementsTarget">
              {{ element.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="description" autocomplete="off" />
        </mat-form-field>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-2 save">
        <div>
          <button mat-button (click)="goBack()" class="btn-light button-modal">
            Regresar
          </button>
        </div>
      </div>
    </div>
  </form>
</body>