<h2 class="font-weight-bold text-primary m-2">
  {{element?.name}}
</h2>
<hr>
<div class="row m-0">
  <div class="col-xl-7 col-lg-7">
    <div class="card mb-4">
      <div class="card-header p-2">
        <h6 class="m-0 font-weight-bold text-primary">
          Imagen
        </h6>
      </div>
      <div class="card-body p-2">
        <div class="chart-area">
          <div class="images_methods">
            <img *ngIf="element.img" [src]="api+'image/'+element.img">
          </div>
          <span *ngIf="!element.img">El elemento no tiene imagen</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-5 col-lg-5">
    <div class="card mb-4">
      <div class="card-header p-2">
        <h6 class="m-0 font-weight-bold text-primary">
          Información básica
        </h6>
      </div>
      <div class="card-body p-2">
        <div class="chart-area">
          <div class="row">
            <div class="col-6">
              <strong>Nombre:</strong>
            </div>
            <div class="col-6">
              {{element.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-6"><strong>Tipo:</strong> </div>
            <div class="col-6">
              <ng-container *ngIf="element.type === 'actuator'; else elseType">
                Actuador
              </ng-container>
              <ng-template #elseType>
                Variable de control
              </ng-template>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <strong>Descripción:</strong>
            </div>
            <div class="col-6">
              <ng-container *ngIf="element.description !== ''; else elseDescription">
                {{element.description}}
              </ng-container>
              <ng-template #elseDescription>
                No aplica
              </ng-template>
            </div>
          </div>
          <div class="row">
            <div class="col-6"><strong>Primer estado:</strong> </div>
            <div class="col-6">
              {{element.first_status.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-6"><strong>Segundo estado:</strong> </div>
            <div class="col-6">
              {{element.second_status.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-6"><strong>Tercer estado:</strong> </div>
            <div class="col-6">
              <ng-container *ngIf="element.third_status; else elseThird">
                {{element.third_status.name}}
              </ng-container>
              <ng-template #elseThird>
                No aplica
              </ng-template>
            </div>
          </div>
          <div class="row">
            <div class="col-6"><strong>Condición inicial:</strong> </div>
            <div class="col-6">
              <ng-container *ngIf="element.initial_condition === 'first_status'">
                Primer estado
              </ng-container>
              <ng-container *ngIf="element.initial_condition === 'second_status'">
                Segundo estado
              </ng-container>
              <ng-container *ngIf="element.initial_condition === 'third_status'">
                Tercer estado
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <button mat-button class="btn-light button-modal" mat-dialog-close>
    Cerrar
  </button>
</div>