<div class="mt-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item active"><a routerLink="/element">Elementos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Editar elemento</li>
    </ol>
  </nav>
  <div style="display: flex; ">
    <h3 style="margin-left: 28px; margin-top: 8px;" class="sub-title"> Editar elemento </h3>
  </div>
</div>


<body>
  <form [formGroup]="FormElement" novalidate>
    <div class="row information">
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type">
            <mat-option value="actuator">Actuador</mat-option>
            <mat-option value="controlled">Variable de control</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Primer estado</mat-label>
          <mat-select formControlName="first_status">
            <mat-option [value]="statuss.id" *ngFor="let statuss of Status">
              {{ statuss.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Segundo estado</mat-label>
          <mat-select formControlName="second_status">
            <mat-option [value]="statuss.id" *ngFor="let statuss of Status">
              {{ statuss.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Tercer estado</mat-label>
          <mat-select formControlName="third_status">
            <mat-option [value]="statuss.id" *ngFor="let statuss of Status">
              {{ statuss.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Condición inicial</mat-label>
          <mat-select formControlName="initial_condition">
            <mat-option value="first_status">Primer estado</mat-option>
            <mat-option value="second_status">Segundo estado</mat-option>
            <mat-option *ngIf="FormElement.value.third_status!==''" value="third_status">Tercer estado
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="description" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mt-2 save">
        <div class="example-button-row">
          <button mat-button (click)="goBack()" class="btn-light button-modal">
            Regresar
          </button>

          <button mat-raised-button class="btn-primary " (click)=" editElement(FormElement)"
            [disabled]="FormElement.invalid">
            <span class="spinner-border spinner-border-sm" *ngIf="showSpinner" role="status" aria-hidden="true"></span>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</body>